@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}

.table-container .table-header tr th{
    background-color: #788BFF;
    padding: 15px;
    box-shadow: 0px 2px 2px (rgb(0,0,0,0));
}

.table-container tbody tr td{
    background-color: #E2FDFF;
    border-bottom: 1px solid #788BFF;
}

.table-container tbody tr th{
    position: sticky;
    left: 0;
    z-index: 2;
    box-shadow: 2px 0px 2px (rgb(0,0,0,0));
}

.table-container thead tr th:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
}

.extra-datas{
    font-size: 15px;
}

/* leave top side */
#leavesTopSide{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#leavesTopSide #filter_section{
    display: flex;
}

#leavesTopSide #filter_section .filter_dropdown{
    background-color: #f1f0f0;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.6);
    padding: 10px;
    margin-right: 10px;

    position: absolute;
    right: 0;

    z-index: 50;

    cursor: pointer;
}

#leavesTopSide #filter_section .filter_dropdown span{
    display: block;
    text-wrap: nowrap;
}

#leavesTopSide #filter_section .filter_dropdown span:hover{
    background-color: #b5b4b4;
}

#filter_section .filter_box{
    position: relative;
}

.filter_box button{
    margin-right: 10px;
    border: 0.5px solid black;

    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.6);

    transition: background-color 0.5s ease;
}

.filter_box button:hover{
    background-color: #b5b4b4;
}

#leaveReportKanban h3{
    background-color: #D72638;
    padding: 5px 0;
    color: white;
}

#leaveReportKanban section{
    position: relative;
    width: 100%;
    padding: 10px 10px 40px 10px;

    background-color: #D4D4D4;

    text-align: center;
    box-shadow: 0px 0px 2px 0.5px rgba(0,0,0,0.6);
}

#leaveReportKanban footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);

    color: white;
    cursor: pointer;
}

#leaveReportKanban footer span{
    font-size: 17px;
    
    padding: 0 5px;
    vertical-align: middle;

    background-color: #818181;
}

#leaveReportKanban footer span:first-child,
#leaveReportKanban footer span:last-child{
    background-color: #D72638;
}

.kanban_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    max-height: 400px;
}

.kanban{
    background-color: white;
    padding: 5px;
    margin: 0 5px;

    border-radius: 10px;
    box-shadow: 0px 0px 2px 0.5px rgba(0,0,0,0.2);

    width: 300px;
}

.kanban p{
    margin: 0;
    padding: 3px;
}

.kanban p:first-child{
    background-color: #D72638;
    color: white;
    border-radius: 10px 10px 0px 0px;

    box-shadow: inset 0px -1px 2px rgba(0,0,0,0.6);
}

#leaveForm{
    background-color: #D4D4D4;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.5);
}

#selectionBox{
    width: 40%;
    height: max-content;
    padding: 10px;
    margin: 0 auto;

    cursor: pointer;

    text-align: center;

    background-color: #D4D4D4;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.5);
}

#selectionBox h3{
    padding: 10px 0;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.5);
    color: #FFF;
} 

#selectionBox p{
    font-size: 20px;

    padding: 5px;
    margin: 3px;
    border-radius: 10px;
}

#selectionBox p:hover{
    background-color:rgba(118, 118, 118, 0.3);
    color: white;
}

#leaveForm{
    height: max-content;
    display: none;
    grid-template-columns: auto auto;
}

#leaveForm div{
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}

#leaveForm div input,#leaveForm div select,#leaveForm button{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 6px;
    width: 90%;

    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px rgb(6, 6, 6)
}

#leaveForm div input:focus,#leaveForm div select:focus{
    outline-color: steelblue;
}

#leaveForm button{
    font-size: 15px;

    background-color: #0b9346;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

#leaveForm button:hover{
    background-color: #10da67;
}

#leaveForm #selectedList{
    width: 90%;
    height: 250px;

    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px rgb(6, 6, 6);
    overflow: auto;
}

#leaveForm #selectedList div{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

/* Leave Form Modal box */
#multipleSelectModal .modal-body{
    max-height: 400px;
    overflow: scroll;
}

#multipleSelectModal .modal-body div div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 5px;
}