{% extends 'nav.html' %}

{% block title %}
Datas Tree View
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/input_form.css')}}">
{% endblock %}


{% block innertemplate %}
<h1 class="header">Customer Table</h1>
<div>
    <div class="customer-top-section">
        <div class="button-search">
            <button class="add-btn">Create</button>
        </div>
        <div class="paginate">
            <form action="{{url_for('views.show_service_datas',typ='service-datas')}}" method="POST">
                <div class="search-bar">
                    <input type="text" hidden value="" name="column" id="column"/>
                    <input type="text" autocomplete="off" name='filter' onkeyup="typeSthInDropdown(this)" style="border-radius: 5px;" placeholder="Search">
                    <input type="text" hidden value="eachJob" name="database">
                    <div class="drop-box d-none">
                        <p onclick="addValForTable('tech_name')">Name - <span class="dropdownFormClicker"></span></p>
                    </div>
                    <input hidden type="text" value="False" id="editOrSubmit" name="editOrSubmit"/>
                </div>
            </form>
            <span id="paginate-amount">1/34</span>
            <i class="fa-solid fa-circle-chevron-left" onclick="clickPagination('job','prev')"></i>
            <i class="fa-solid fa-circle-chevron-right" onclick="clickPagination('job','next')"></i></div>
        </div>
    </div>
    <div class="table-container customer-table">
        <table>
            <thead class="text-center">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Phone</th>                    
                </tr>
            </thead>
            <tbody>
                <!-- {% for data in result %}
                    <tr class="job-data-changeable text-start" onclick="redirectToFormEdit('{{data[4]}}','eachJob')">
                        {% for each_data in data %}
                            <td class="ps-1">{{each_data}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %} -->
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
                <tr class="job-data-changeable text-start">
                    <td class="ps-1">MRJ-666</td>
                    <td class="ps-1">Thant Zin Aung</td>
                    <td class="ps-1">Hlelgu</td>
                    <td class="ps-1">Yangon</td>
                    <td class="ps-1">09-255022226</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
