{% extends 'nav.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/dashboard.css')}}">
{% endblock %}

{% block innertemplate %}
<div class="dashboard-holder">
    <!-- <h1>PSFU Call</h1> -->
        <div class="dashboard-table">
            <table>
                <thead>
                    <tr class="main-header">
                        <th colspan="5">Ba Yint Naung</th>
                    </tr>
                    <tr class="sub-header">
                        <th>Date</th>
                        <th>License No</th>
                        <th>Customer Name</th>
                        <th>Customer Ph</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dashboard-table">
            <table>
                <thead>
                    <tr class="main-header">
                        <th colspan="5">Ba Yint Naung</th>
                    </tr>
                    <tr class="sub-header">
                        <th>Date</th>
                        <th>License No</th>
                        <th>Customer Name</th>
                        <th>Customer Ph</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>28/05/2023</td>
                        <td>YGN4403</td>
                        <td>Thant Zin Aung</td>
                        <td>09-998834</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}