{% extends 'nav.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/dashboard.css')}}">
{% endblock %}

{% block innertemplate %}
<div class="dash-nav-list">
    <ul>
        <li onclick="changeTabOver(this, 'psfuCall')" class="tab-list psfu-call-tab active">PSFU Call</li>
        <li onclick="changeTabOver(this, 'remainderCall')" class="tab-list remainder-call-tab">Remainder Call</li> 
    </ul>
</div>
<form action="{{url_for('views.show_service_datas',typ='service-datas')}}" method="POST">
    <div class="search-bar d-none">
        <input type="text" hidden value="" name="column" id="column"/>
        <input type="text" placeholder="Search" class="rounded" autocomplete="off" name='filter' onkeyup="typeSthInDropdown(this)">
        <input type="text" hidden value="eachJob" name="database">
        <input hidden type="text" value="False" id="editOrSubmit" name="editOrSubmit"/>
    </div>
</form>
<div class="eachTab psfu-call" id="psfuCall">
    {% for shop_name,shop_data in data_dct.items() %}
        <div class="dashboard-table">
            <table>
                <thead>
                    <tr class="main-header">
                        <th colspan="9">{{shop_name}}</th>
                    </tr>
                    <tr class="sub-header">
                        <th>Date</th>
                        <th>JOB No.</th>
                        <th>License No.</th>
                        <th>Cusomter Name</th>
                        <th>Phone No.</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>✔️</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if shop_data | length == 0 %}
                        <tr class="text-center">
                            <td rowspan="5" colspan="9">No PSFU CALL Records ... </td>                          
                        </tr>
                    {% else %}
                        {% for data in shop_data %}
                        <tr class="shop-psfu-{{data[7]}}-data-changeable">
                            <td>{{data[1]}}</td>
                            <td>{{data[0]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                            <td class="select-option">
                                <select name="status_id" id="status_id">
                                    <option value="" disabled selected>Choose</option>
                                    {% for data in psfu_status %}
                                    <option value="{{data[0]}}">{{data[1]}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="select-option">
                                <button onclick="addRemark(this)" type="button" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add</button>
                                <input hidden type="text" value="" name="remark" id="remark">
                            </td>
                            <td class="text-center">
                                <input hidden type="number" value="{{data[6]}}" name="psfu_id" id="psfu_id">
                                <input type="checkbox" value="{{data[0]}}"  onchange="tickThePsfuCall(this)" class="line-through-check">
                            </td>
                            <td class="text-center">
                                <button onclick="redirectToFormEdit('{{data[5]}}','eachJob')" type="button" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Check Datas</button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if shop_data | length < 5  %}
                            {% for i in range(5 - (shop_data|length))%}
                                <tr rowspan="{{5 - (shop_data|length)}}">
                                    <td colspan="9" style="height: 30px;"></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
            {% if shop_data | length > 0 %}
            <div class="dashboard-pagination" id="">
                <span onclick="clickPagination('psfuCall','prev','{{shop_data[0][7]}}')">&lt</span>
                <span id="{{shop_data[0][7]}}-paginate-amount">1- {% if max_psfu_dct[shop_name] >= 20 %} 20 {% else %} {{max_psfu_dct[shop_name]}} {% endif %} / {{max_psfu_dct[shop_name]}}  </span>
                <span onclick="clickPagination('psfuCall','next','{{shop_data[0][7]}}')">&gt</span>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <div id="remarkModalBox">
        <form action="" method>
            <div id="" class="inputRemark">
                <span class="" title="Close" onclick="closemodal(this)">&times;</span>
                <textarea value="" name="" id="" cols="100" rows="10" placeholder="Enter your remark"></textarea>
                <button onclick="closemodal(this)" type="button">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="eachTab remainder-call" id="remainderCall">
    <h1>Remainder Call Coming Soon. . .</h1>
</div>
<script type="text/javascript"> 

const modelbox = document.getElementById("remarkModalBox");
let remarkHolder;

function addRemark(btn){
    modelbox.style.display = "block"
    remarkHolder = btn.nextElementSibling
}

function closemodal(btn){
    if(btn.type == "button"){
        let txt = btn.previousElementSibling.value.trim()
        if(txt == ""){
            alert("Please Enter Remark");
        }else if(txt.includes("||")){
            alert(" Pipe Characters '||' are not allowed for remark..")
            btn.previousElementSibling.value = ""
        }else{
            modelbox.style.display = "none";
            remarkHolder.value = txt
        }
    }else{
        btn.nextElementSibling.value = "";
        modelbox.style.display = "none";
    }
}

function saveRemark(click){
    console.log(click)
    closemodal(click);
}

function changeTabOver(btn, idd){
    const visibleObject = document.getElementById(idd);
    const allTabs = document.querySelectorAll('.eachTab')
    const tabLists = document.querySelectorAll(".tab-list");
    allTabs.forEach((allTab) => {
            allTab.style.display = "none";
    })
    tabLists.forEach((tabList) => {
            tabList.classList.remove("active");
    })
    btn.classList.add('active')
    visibleObject.style.display = 'block'
}

</script>
{% endblock %}