{% extends 'nav.html' %}

{% block title %}
Create Form
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/input_form.css')}}">
{% endblock %}

{% block innertemplate %}

    <div class="submit-discard">
        <div>
            <button class="submit-btn"  type="button" onclick="checkAllServiceDatas()">Submit</button>
            <button class="discard-btn" onclick=""><a class="nav-link" href="{{url_for('views.show_service_datas',typ='service-datas')}}">Discard</a></button>
        </div>
    </div>
    <form  id="service-data-input-form" action="{{url_for('imports.keep_in_import',typ='service-datas')}}" method="post">
        <div class="input-sec">
            <div class="each-input">
                <label for="regState">Vehicle Register No</label>
                <select name="regState" id="regState" class="vehicle-register-box">
                    {% for data in result[6] %}
                        <option value="{{data[1]}}">{{data[1]}}</option>                        
                    {% endfor %}
                </select>
                <input name="regPrefix" id="regPrefix" onchange="checkVehiclePlate(this,'prefix')" value="" required autocomplete="off" type="text" class="text-one required-fields" onkeyup="checkRegNumber(this,3)">
                <input name="regDigits" id="regDigits" onchange="checkVehiclePlate(this,'digit')" required autocomplete="off" type="number" onkeyup="checkRegNumber(this,4)" class="text-two required-fields">
                <input id="vehicleInformation" name="vehicleInformation" value="0" hidden/>
                <input id="customerInformation" name="customerInformation" value="0" hidden/>
            </div>
            <div class="each-input">
                <label for="">Date</label>
                <input name="jobDate" autocomplete="off"  required type="date" class="date-error-input ">
            </div>
            <div class="each-input">
                <label for="">Name</label>
                <input name="customerName" onchange="autoFillByCustomer(this)" list="customerListOptions" autocomplete="off" class="autoFillByVehicle" required type="text">
                <datalist id="customerListOptions">
                    {% for dt in result[9]%}
                        <option value="{{dt[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="each-input">
                <label for="">Invoice No</label>
                <input autocomplete="off" name="invoiceNo"  required type="text">
            </div>
            <div class="each-input">
                <label for="">Address</label>
                <input autocomplete="off" resname="fullAddress" required type="text" style="width: 30%" class="text-three autoFillByVehicle">
                <select name="state" id="address-state" class="state-register-box autoFillByVehicle">
                    {% for data in result[6] %}
                        <option value="{{data[0]}}">{{data[2]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="each-input">
                <label for="brand">Vehicle Make</label>
                <input type="text" onchange="generateVehicleModel(this)"  class="autoFillByVehicle autoFillNewOwner" list="brandListOptions" value="" name="brand" id="brand"/>
                <datalist id="brandListOptions">
                    {% for dt in result[7]%}
                        <option value="{{dt[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="each-input">
                <label for="phone">Phone</label>
                <input id="phone" autocomplete="off" class="autoFillByVehicle" name="phone" required type="number">
            </div>
            <input type="number" value="" id="model_id" name="model_id" hidden/>
            <input type="number" value="" id="brand_id" name="brand_id" hidden/>
            <div class="each-input">
                <label for="model">Vehicle Model</label>
                <input type="text" list="modelListOptions" class="autoFillByVehicle autoFillNewOwner" required autocomplete="off" value="" name="model" id="model"/>

                <datalist id="modelListOptions">
                    <option value="No model was found">
                </datalist>
            </div>
            <div class="each-input">
                <label for="jobNo">Job no</label>
                <input type="text"  autocomplete="off" name="jobNo" required id="jobNo">
            </div>
            <div class="each-input">
                <label for="year">Vehicle Model Year</label>
                <select name="year" id="year"  class="vehicle-box autoFillByVehicle autoFillNewOwner">
                    {% set start_year = result[8] %}
                    {% for i in range(start_year,1900,-1) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="each-input">
                <label for="unit">Business Unit</label>
                <select name="unit" class="vehicle-box" id="unit">
                    <option value="1">PIT & GO</option>
                    <option value="2">TOYOTA</option>
                </select>
            </div>
            <div class="each-input">
                <label for="shop">Shop</label>
                <select name="shop" class="vehicle-box" id="shop">
                    <option value="1">PIT & GO BGO</option>
                    <option value="2">PIT & GO SKP</option>
                    <option value="3">PIT & GO BAWGA</option>
                    <option value="4">TOYOTA BAWGA</option>
                </select>
            </div>
        </div>
        <div class="input-table">
            <table>
                <thead>
                    <tr>
                        <th>.</th>
                        <th>Description</th>
                        <th>Rate</th>
                        <th>Job Type</th>
                        <th>PIC1</th>
                        <th>PIC2</th>
                        <th>PIC3</th>
                        <th>PIC4</th>
                        <th>PIC5</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="table-body-of-pic"> 
                    <datalist id="datalistOptions">
                        {% for dt in result[3]%}
                            <option value="{{dt[1]}}">
                        {% endfor %}
                    </datalist>
                    <datalist id="piclistOptions">
                        {% for dt in result[5]%}
                            <option value="{{dt[1]}} | {{dt[0]}}">
                        {% endfor %}
                    </datalist>                    
                    <tr id="willBeCloned" class="d-none">
                        <td onclick="deleteJobRow(this,true)"><i class="fa-solid fa-trash-can"></i></td>
                        <td><input type="text" name="description" class="inp" autocomplete="off"></td>
                        <td>
                            <input type="text" onchange="storeValueFromListToHiddenInput(this)" list="piclistOptions" class="inp" autocomplete="off">
                            <input type="text" name="pic-rate" value="" hidden>
                        </td>
                        <td>
                            <select name="jobType" class="inp">
                                {% for job_type in result[4] %}
                                    <option value="{{job_type[0]}}">{{job_type[1]}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" value="" name="picOne" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picTwo" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picThree" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picFour" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picFive" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="number" name="jobCost" value="0" step=".01" class="inp amts" autocomplete="off" onkeyup="sumUpTotals(this)"></td>
                        <td class="d-none"><input type="text" name="picrow"></td>
                    </tr>
                    <tr>
                        <td onclick="deleteJobRow(this,false)"><i class="fa-solid fa-trash-can"></i></td>
                        <td><input type="text" required  name="description" class="inp" autocomplete="off"></td>
                        <td>
                            <input type="text" onchange="storeValueFromListToHiddenInput(this)" list="piclistOptions" class="inp" autocomplete="off">
                            <input type="text" name="pic-rate" value="" hidden>
                        </td>
                        <td>
                            <select name="jobType" required class="inp">
                                {% for job_type in result[4] %}
                                    <option value="{{job_type[0]}}">{{job_type[1]}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" value="" name="picOne" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picTwo" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picThree" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picFour" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="text" value="" name="picFive" class="pic d-none" list="datalistOptions" autocomplete="off" ></td>
                        <td><input type="number" required name="jobCost" step=".01" class="inp amts" autocomplete="off" onkeyup="sumUpTotals()"></td>
                        <td class="d-none"><input type="text" name="picrow"></td>
                    </tr>
                    <tr>
                        <td colspan="8" class="add-job-row" onclick="addAnotherRow(this)"><button type="button" class="btn btn-outline-dark btn-sm">Add Job +</button></td>
                        <td class="d-none"><input type="number" value="0.0" step=".01" class="total-amount" name="totalCost"></td>
                        <td class="total-label"><b>Total</b></td>
                        <td class="total-amount">0.0</td>
                    </tr>
                </tbody>
            </table>
            <!-- Button trigger modal -->
            <button type="button" class="d-none validateModal" data-bs-toggle="modal" data-bs-target="#staticBackdropValidate"></button>
        
            <!-- Modal -->
            <div class="modal modal-lg fade" style="z-index: 10123;" id="staticBackdropValidate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Validate</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <strong>Chosse associated vehicle...</strong> <br>
                            <table class="table table-bordered mt-3" style="font-size: 13px;width: max-content;">
                                <thead>
                                    <tr>
                                        <td>Activate</td>
                                        <td>Reg. No.</td>
                                        <td>Brand</td>
                                        <td>Model</td>
                                        <td>Owner</td>
                                        <td>Contact</td>
                                        <td>State</td>
                                    </tr>
                                </thead>
                                <tbody class="list-group-vehicle-information" style="font-size: 10px;">
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"  id="changeOwner" data-bs-dismiss="modal">Add new owner..</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}